<!DOCTYPE html>
<html lang="fr">
  <head>

  </head>
</html>

{% load staticfiles %}

<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"></meta>
    <title>
        Accueil | Orange Juice
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

{% block body %}

<form action="/register/">
     <input type="submit" value="Register"/>
</form>



<form action="/signin/">
     <input type="submit" value="Sign in"/>
</form>

<div class="container">

    <center><p>Coucou !</p></center>

    {% load static %}

    <div class="row">
        <div class="col-md-4">
            <a href="/animals"><img src="{% static "chienimg.jpg" %}" alt="probleme img"/></a>
        </div>
        <div class="col-md-4">
            <a href="/anime"><img src="{% static "animeimg.jpg" %}" height="256" width="256" alt="probleme img"/></a>
        </div>
        <div class="col-md-4">
            <a href="/documentaries"><img src="{% static "docuimg.jpg" %}" alt="probleme img"/></a><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="/movies"><img src="{% static "moviesimg.png" %}" alt="probleme img"/></a>
        </div>
        <div class="col-md-4">
            <a href="/musicvideos"><img src="{% static "notemusic.png" %}" alt="probleme img"/></a>
        </div>
        <div class="col-md-4">
            <a href="/personal"><img src="{% static "personalimg.jpg" %}" alt="probleme img"/></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="/trailers"><img src="{% static "trailerimg.jpg" %}" alt="probleme img"/></a>
        </div>
        <div class="col-md-4">
            <a href="/romantic"><img src="{% static "coeur.png" %}" alt="probleme img"/></a>
        </div>
        <div class="col-md-4">
            <a href="/advertisement"><img src="{% static "cocacola.png" %}" alt="probleme img"/></a><br>
        </div>
    </div>

</div>

{% endblock %}
