

<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/ico" href="images/favicon.ico" />
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Dosis:400,500,600,700' rel='stylesheet' type='text/css' />

	<!-- CSS Files -->
	<link rel="stylesheet" href="{% static "orange/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
	<link rel="stylesheet" href="{% static "orange/css/main.css" %}" />
	<link rel="stylesheet" href="{% static "orange/css/responsive.css" %}" />

	<!-- Javascript Files -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="static/orange/js/bootstrap.min.js"></script>
	<script src="static/orange/js/jquery.flexslider.min.js"></script>
	<script src="static/orange/js/scripts.js"></script>
	<style>
	.sheet {
	    z-index:2;
	    float:left;
	    position: absolute;
	    background-color: rgba(0,0,0,0.8);
	    width:100%;
	    height: 100%;
	}
	.sheet .closebutton {
		float:right;
		align:right;
		width:32px;
		height:32px;
		background-image: url("{% static "orange/close.png" %}");
	}
	body{
		z-index:1;
	}
</style>

	
</head>
<body class="index">
<script>
$(document).ready(function(){
	$(".sheet").hide();
	$( ".closebutton" ).click(function() {
	  $( ".sheet" ).hide("fast");
	});
});
</script>


	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<!-- Logo and toggle for navigation on mobile devices -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home/"><img src="images/logo.png" alt="Awaaz" /></a>
				</div>

				<!-- Navigation links -->
				<div class="collapse navbar-collapse" id="main-nav">
					<ul class="nav navbar-nav navbar-right">
					<!--	<li class="current"><a href="/home/">Home</a></li> -->
						<li> 
							<a href="/home/" class="dropdown-toggle disabled" data-toggle="dropdown">News </a>
						</li>
						<li  >
							<a href="albums.html" class="dropdown-toggle disabled" data-toggle="dropdown">Blogs </a>
						</li>
						<li  >
							<a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">Ambiences </a>
						</li>
						<li  >
							<a href="/styles" class="dropdown-toggle disabled" data-toggle="dropdown">Styles </a>
						</li>
						<li  >
							<a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">Search </a>
						</li>
						<!--<li  >
							<a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">User/Login <b class="caret"></b></a>-->
                        <li><a href="/register/">Register</a></li>
						<li><a href="/signin/">Sign in</a></li>
							<ul class="dropdown-menu">
								<li><a href="#">Setting</a></li>
								<li><a href="#">Likes</a></li>
								<li><a href="#">Following</a></li>
								<li><a href="#">Playlists</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>
	</header>

{% block content %}{% endblock %}




</body>
</html>
