<!DOCTYPE html>
<html lang="fr">
  <head>

  </head>
</html>

<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"></meta>
    <title>
        Mdp oublié | Orange Juice
    </title>
</head>

{% block body %}

    <a>section mdp oublié</a>
    <br><br>
    <a>Mettez votre adresse e-mail pour réinitialisation du mdp</a>
    <br>
    <tr><th><label><b>E-mail : </b></label></th><td><input id="id_mail" name="identifiant" placeholder="Votre adresse e-mail" type="text" /></td></tr>
    <br>
    <input type="submit" value="Générer nouveau mot de passe" />

{% endblock %}
