{% extends 'base.html' %}

{% block title %}styles{% endblock %}
{% block content %}
{% load staticfiles %}
{% load static %}
<!--
<ul>
	<li>Pop</li> <img src="{% static "orange/pop.jpg" %}" alt="pop"/>
	<li>Classic</li> <img src="{% static "orange/classical.jpg" %}" alt="classical"/>
	<li>Rock</li> <img src="{% static "orange/rock.jpg" %}" alt="rock"/>
	<li>Electro</li> <img src="{% static "orange/electro.jpg" %}" alt="electro"/>
	<li>World</li> <img src="{% static "orange/world.jpg" %}" alt="world"/>
	<li>Hip hop</li> <img src="{% static "orange/hiphop.jpg" %}" alt="hiphop"/>
	<li>Soul</li> <img src="{% static "orange/soul.jpg" %}" alt="soul"/>
	<li>Jazz</li> <img src="{% static "orange/jazz.jpg" %}" alt="jazz"/>
	<li>Blues</li> <img src="{% static "orange/blues.jpg" %}" alt="blues"/>
	<li>Funk</li> <img src="{% static "orange/funk.jpg" %}" alt="funk"/>
</ul>
-->


	{% if styles_playlists %}
	<script>
	$(document).ready(function(){
	{% for style in styles_playlists %}
		$( "#{{ style.pls_name }}_pic" ).click(function() {
		  $( "#{{ style.pls_name }}" ).show("fast");
		});
	{% endfor %}
	});
	</script>
	{% else %}
    <p>A problem occured while loading playlists.</p>
	{% endif %}





	<main>
	{% if styles_playlists %}
	{% for style in styles_playlists %}
	
	<div class="sheet" id="{{ style.pls_name }}">
		<div class="row">
			<div class="col-xs-12">
				<div class="closebutton"></div>
				<h1>{{ style.pls_name }}</h1>
				<p>{{ style.pls_description }}</p>
				{% if style.pls_duration %}<p>Duration : {{ style.pls_duration }}</p>{% endif %}
				<p>Number of views : {{ style.pls_nb_view }}</p>
				<p>Last view : {{ style.pls_date_last_view }}</p>
			</div>
		</div>
	</div>

	{% endfor %}
	{% else %}
    <p>A problem occured while loading playlists.</p>
	{% endif %}

		  <section id="tagline">
		    <div class="container">
  				<h1>Styles</h1>
  		  </div>
  		</section>


		<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 artists-desc">
						<p></p>
					</div>
				</div>

				<div class="row artists">
					<!-- artists -->
					<div class="col-sm-6 col-md-3          artist guitar" id="pop_pic">
						<div class="latest-content">
								<div class="latest-content-image">
									<img src="{% static "orange/pop.jpg" %}" alt="pop"/>
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-headphones"></i>
										</div>
										<h4>Pop</h4>
									</div>
								</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 artist drummer" id="classic_pic">
						<div class="latest-content">
							<a href="artist.html">
								<div class="latest-content-image">
									<img src="{% static "orange/classical.jpg" %}" alt="classical"/>
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-headphones"></i>
										</div>
										<h4>Classic</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 artist guitar" id="rock_pic">
						<div class="latest-content">
								<div class="latest-content-image">
									<img src="{% static "orange/rock.jpg" %}" alt="rock"/>
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-headphones"></i>
										</div>
										<h4>Rock</h4>
									</div>
								</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 artist solo" id="electro_pic">
						<div class="latest-content">
							<a href="artist.html">
								<div class="latest-content-image">
									<img src="{% static "orange/electro.jpg" %}" alt="electro"/>
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-headphones"></i>
										</div>
										<h4>Electro</h4>
									</div>
								</div>
							</a>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-sm-6 col-md-3 artist singer" id="world_pic">
						<div class="latest-content">
							<a href="artist.html">
								<div class="latest-content-image">
									<img src="{% static "orange/world.jpg" %}" alt="world"/>
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-headphones"></i>
										</div>
										<h4>World</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 artist drummer" id="hiphop_pic">
						<div class="latest-content">
							<a href="artist.html">
								<div class="latest-content-image">
									<img src="{% static "orange/hiphop.jpg" %}" alt="hiphop"/>
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-headphones"></i>
										</div>
										<h4>Hip hop</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 artist solo" id="soul_pic">
						<div class="latest-content">
							<a href="artist.html">
								<div class="latest-content-image">
									<img src="{% static "orange/soul.jpg" %}" alt="soul"/>
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-headphones"></i>
										</div>
										<h4>Soul</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 artist singer" id="jazz_pic">
						<div class="latest-content">
							<a href="artist.html">
								<div class="latest-content-image">
									<img src="{% static "orange/jazz.jpg" %}" alt="jazz"/>
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-headphones"></i>
										</div>
										<h4>Jazz</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-3 artist singer" id="blues_pic">
						<div class="latest-content">
							<a href="artist.html">
								<div class="latest-content-image">
									 <img src="{% static "orange/blues.jpg" %}" alt="blues"/>
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-headphones"></i>
										</div>
										<h4>Blues</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 artist singer" id="funk_pic">
						<div class="latest-content">
							<a href="artist.html">
								<div class="latest-content-image">
									<img src="{% static "orange/funk.jpg" %}" alt="funk"/>
								</div>
								<div class="latest-content-info">

									<div class="meta">
										<div class="icon">
											<i class="fa fa-headphones"></i>
										</div>
										<h4>Funk</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main> <!-- end main content area -->

{% endblock %}
